$boja: #ac3b61;

h1 {
  text-align: center;
  margin-top: 100px;
  color: $boja;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 250px;
    height: 35px;
    margin-bottom: 15px;
    border: 3px solid #edc7b7;
    border-radius: 8px;
    outline: none;
    background-color: #eee2dc;
  }

  button {
    border-radius: 12px;
    border-color: $boja;
    padding: 10px 20px;
    color: $boja;
    margin-top: 10px;
    font-weight: bolder;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    background-color: #edc7b7;
  }
}
